/******** Half ********/

@media (max-width: 768px) {
  
  #TOC {
    display: none;
  }
	.zoom {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	  }
	.distill-site-header.responsive a, .distill-site-header.responsive .nav-dropdown {
	  display: block;
	  text-align: center;
    }
}



/******** Cover ********/


section.module.parallax {
  height: 180px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
  
}

section.module.parallax-1 { background-image: url("images/hero_image.jpg"); }


.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
  margin-bottom: -35px;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #006cb5;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}



/******** Navbar menu ********/

.distill-site-header {
	transition: all 300ms ease;
}

.distill-site-header .logo img {
	max-height: 35px;
	width: auto;
	margin-bottom: -4px;
	border-radius: 0px;
	display:inline-block;
}


.title+ a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.title+ a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.title+ a:hover:before, .title+ a:focus:before, .title+ a:active:before {
  right: 0;
}



.title~ a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.title~ a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.title~ a:hover:before, .title~ a:focus:before, .title~ a:active:before {
  right: 0;
}


/******** Footer ********/

.distill-site-footer p {

	text-align: center;
	color:white;
	font-weight: bold;
}

.distill-site-footer {
	margin-top: 0px;
}

/******** Column ********/

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


/******** fig.cap ********/

figure .caption, .figure .caption, figure figcaption {
	font-size: 10px;
	text-align: center;
}


.algolia-autocomplete {
	display: inline-block;
	margin-left: 10px;
	vertical-align: sub;
	background-color: transparent;
	color: black;
	padding: 6px;
	padding-top: 8px;
	padding-bottom: 0;
	border-radius: 6px;
	width: 180px;
}


figcaption {
	border-radius: 35px;
	border: 2px solid #296d98;
	width: auto;
	height: auto;
	padding: 14px;
	margin-bottom: 2em;
	margin-top: -25px;
	text-align: center;
}

.figure .caption {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  margin-top: 1em;
}


/******** Zoom on gif ********/

.zoom {
  padding: auto;
  transition: transform .2s;
  width: auto;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.5);
}


/******** Dark/light mode ********/

.toggle_switch{
  width: auto;
  height: 54px;
  position: relative;
}

input[type="checkbox"].custom-control-input{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring{
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing .35s ease-in-out forwards;
          animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].custom-control-input:checked + svg.checkbox .outer-ring{
  -webkit-animation: animateRing .35s ease-in-out forwards;
          animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].custom-control-input:checked + svg.checkbox .is_checked{
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].custom-control-input:checked + svg.checkbox .is_unchecked{
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
          transform: translateX(-200%) rotate(180deg);
}


svg.checkbox {
	position: absolute;
	top: -5%;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80%;
}

svg.checkbox .is_checked{
  opacity: 0;
  fill: yellow;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
          transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

svg.checkbox .is_unchecked{
  opacity: 1;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

@-webkit-keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@-webkit-keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}


/******** Mobil ********/

@media only screen and (max-width: 600px) {
.ml5 .letters {
	display: inline-block;
	opacity: 0;
	font-size: 32px;
	transition: all 300ms ease;
}
}
/******** Img ********/

img {
  border-radius: 10px;
}

/******** Hyperlink ********/

d-article a, d-article a:hover{
	border-bottom: none;
	text-decoration: none;
}

/******** Text ********/

a {
	color: blueviolet;
}



h2 a {
	color: aqua;
	text-decoration: underline;
}

p {
	font-size: 13px;
	text-align: justify;
}

b, strong {
	font-weight: 700;
}

.uri {
	color: blue;
}


#TOC li:last-child {
	margin-bottom: 0;
	font-size: 10px;
	text-decoration: underline;
	margin-top: -5px;
}



d-title {
	background-color: white;
	transition: all 300ms ease;
}


d-article {
	background-color: white;
	color: black;
	transition: all 300ms ease;
	font-size: inherit;
}

.container {
	max-width: 500px;
	margin: 0 20px;
}


button {
	border: none;
	padding: 15px;
	outline: none;
	font-size: 0.85em;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	color: white;
	background-color: black;
	transition: all 200ms ease;
}

button:hover {
	opacity: 0.6;
}

p {
	color: black;
	line-height: 1.5em;
	transition: all 300ms ease;
}

d-article h1, d-article h2, d-article h3{
  	color: black;
  	text-decoration: underline;
}


/******** TOC ********/

#TOC {
  margin: 25px 0px 20px -405px;
}

@-moz-document url-prefix() {
#TOC {
  margin: 25px 0px 20px 0px;
}
}


@media print {
.toc-content {
  float: right;
}
}

.toc-content {
  padding-left: 30px;
  padding-right: 40px;
}

div.main-container {
  max-width: 1200px;
}

div.tocify {
	width: auto;
	max-width: 400px;
	max-height: 75%;
}

.tocify ul, .tocify li {
  line-height: 20px;
}

.tocify-subheader .tocify-item {
  font-size: 0.90em;
}

.tocify .list-group-item {
  border-radius: 0px;
}

/******** SearchBar ********/

input[type="text"]:focus {
	width: 15em;
	border-top: 2px solid blue;
	border-left: 2px solid blue;
	border-right: 2px solid blue;
}

