[data-theme="dark"] {
  background-color: #242424 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] p {
  color: white !important;
}

[data-theme="dark"] d-title {
	background-color: #242424 !important;
}

[data-theme="dark"] d-article {
	background-color: #242424 !important;
}

[data-theme="dark"] .distill-site-footer {
	background-color: #000 !important;
}

[data-theme="dark"] .distill-site-nav {
	background-color: #000 !important;;
}

[data-theme="dark"] d-title h1 {
	color: white !important;
}

[data-theme="dark"] d-article h2 {
  color: white !important;
}

[data-theme="dark"] li {
	color: white !important;
}

[data-theme="dark"] figcaption {
	border: 2px solid #003e69 !important;
}

[data-theme="dark"] .figure .caption a {
	color: white !important;
}

[data-theme="dark"] d-article h1, d-article h2, d-article h3 {
	color: white !important;
}

[data-theme="dark"] button {
  background-color: #808080 !important;
}
